section{
    background-color:#f5f5dd;
    height: 800px;
    width: 500px;
}
.kwadrat{
    margin-left: 5cm;
    height: 150px;
    width: 150px;
    background-color: black;
}
  .kwadrat2{background-color: rgba(0,0,0,0.8);

}
  .kwadrat3{background-color: rgba(0,0,0,0.5);

}
  .kwadrat4{background-color: rgba(0,0,0,0.3);}